@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
    font-family: "BadScript";
    src: url("assets/BadScript-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "BadScript", serif;
    margin: 0;
    color: white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a:hover{
    opacity: 0.7;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("assets/intro.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-size: 120px;
}

.intro__subtitle {
    font-size: 70px;
}

.header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-bottom: 32px;
    padding-top: 32px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link_dark{
    color: black;
}

.nav__link:hover, .nav__link.active {
    opacity: 0.7;
}

.block {
    padding: 50px;
}

.block__inner {
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.block__image {
    max-width: 400px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

block_inner h1, block_inner h2 {
    font-size: 20px;
}



.additions {
    padding: 32px;
    align-items: center;
    align-content: center;
    text-align: center;
    display: block;
}

.additions__text {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 40px;
    color: black;
}

.additions__social{
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 36px;

}
.social {
    text-align: center;
    align-content: center;
    margin: 0px 10px;
    padding: 18px;
    color: black;
}

